@font-face {
    font-family: 'Lucida Regular';
    src: url('../../assets/fonts/LucidaGrande.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Lucida Bold';
    src: url('../../assets/fonts/LucidaGrandeBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}