<div class="ranking-top">
  <div class="ranking-top__leaders">
    <app-stat-card class="ranking-top__card"
    [place]="2"
    [user]="selectedTopLeader(1)"
    ></app-stat-card>
    <app-stat-card class="ranking-top__card"
    [place]="1"
    [user]="selectedTopLeader(0)"
    ></app-stat-card>
    <app-stat-card class="ranking-top__card"
    [place]="3"
    [user]="selectedTopLeader(2)"
    ></app-stat-card>
  </div>

  <div class="ranking-top__stats">
    <app-sector class=ranking-top__stat>
      <div class="ranking-top__stat-header" header>
        Stars
      </div>
      <div class="ranking-top__stat-body" body>
        {{user.userScore}}
      </div>
    </app-sector>
    <app-sector class=ranking-top__stat>
      <div class="ranking-top__stat-header" header>
        Your Rank
      </div>
      <div class="ranking-top__stat-body" body>
        #{{user.userScore}}
      </div>
    </app-sector>
    <app-sector class=ranking-top__stat>
      <div class="ranking-top__stat-header" header>
        Add wallet
      </div>
      <div class="ranking-top__stat-body" body>
        <fa-icon [icon]="['fas', 'wallet']"></fa-icon>
      </div>
    </app-sector>

  </div>

  <div class="ranking-top__buttons">
    <button customButton color="primary">
      Boost rank
      <img src="/assets/images/Telegram_Star.png" alt="" icon />
    </button>

  </div>

</div>